button {
    border-radius: 15px;
    border-color: black;
    font-family: funnel display;
    font-size: 25px;
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    color:black;
}

.border1 {
    border: solid;
    border-radius: 20px;
    padding: 1.5px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.buttonone {
    border-radius: 15px;
    border-color: black;
    font-family: funnel display;
    width: 97%;
    height: 15%;
    font-size: 25px;
    text-align: left;
    color: black;
}